#game-container {
  &::after{
    content: ' ';
    background: #123456;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: -1;
    background-position: center center;
  }
}
.gameboard {
  &::after{
    content: ' ';
    clear: both;
    display: block;
  }
}
